.feature {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 12.8rem 0rem;
    background-image:url("../assets/img/nature.jpg");
    
    background-size: cover;
    background-position: center;
    transform: skewY(-7deg);
    margin-top: -7.5rem;

    &>* {
        transform: skewY(7deg);
    }

    // clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);

    &__box {
        width: 15rem;
        margin: 0rem 1rem;
        background-color: rgba($light-white, 1);
        color: $big-stone;
        font-size: 1rem;
        text-align: center;
        border-radius: 3px;
        box-shadow: 0px 50px 70px rgba(0, 0, 0, 0.3),
            0px 10px 10px rgba(0, 0, 0, 0.1);
        padding: 1.5rem;
        border-bottom: 5px solid $tomato;
        transition: transform .3s;

    }

    &__box:hover {
        transform: translateY(-1.5rem) scale(1.03);
    }

}

.fas {
    font-size: 2rem;
    color: $tomato;
}