.feature{
    padding: 12.5rem 0;
    background-image: linear-gradient(to right bottom, rgba(217, 129, 129, 0.507), rgba(209, 102, 102, 0.555)), url("../assets/img/nat-4.jpg");
    background-size: cover;
    background-position: top;

    &__box{
        
    }
}