.feature {
    display: grid;
    grid-template-rows: 1fr;
    grid-row: 1/-1;
    align-items: center;
    // padding: 12rem 0rem 3rem 0rem;

    background-image: url("../assets/img/nature.jpg");
    background-size: cover;
    background-position: center;
    // margin-top: -5.5rem;
    // height: 95vh;
    // clip-path: polygon(0 25vh, 100% 0, 100% 75vh, 0 100%);

    transform: skewY(-7deg);
    padding: 10rem 0 15rem 0;
    margin-top: -10rem;

    &> *{
       transform: skewY(7deg);
    }

     
    &__header {
        margin: 0 auto;
        padding-bottom: 3rem;
    }

    &__heading {
       
        text-align: center;
        margin: 0 5px 0 5px;
        font-size: 2.75rem;
        letter-spacing: .3rem;
        font-weight: 700;
        margin-top: 1rem;
        text-transform: none;
        color: $light-white;

    }


    &__row {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 5px;
        justify-items: center;
    }

    &__box {
        width: 15rem;
        height: 20rem;
        margin-top: 5rem;
        background-color: rgba($light-white, 1);
        color: $big-stone;
        font-size: 1rem;
        text-align: center;
        border-radius: 3px;
        box-shadow: 0px 50px 70px rgba(0, 0, 0, 0.3),
            0px 10px 10px rgba(0, 0, 0, 0.1);
        padding: 1.1rem;
        border-bottom: 5px solid #2f9482;
        transition: transform .3s;

    }

    &__box:hover {
        transform: translateY(-1.5rem) scale(1.03);
    }


}

.fas {
    font-size: 2rem;
    color: #2f9482;
}

@media (max-width:700px) {

    .feature {
        padding: 8rem 0rem 3rem 0rem;
        height: auto;

        &__row {
            grid-gap: 1rem;
        }

        &__box {
            width: 10rem;
            height: 15rem;
            padding: 0.5rem;
            font-size: 0.75rem;

            &__box:hover {
                transform: 0;
            }
        }

        .fas {
            font-size: 1.5rem;

        }


    }
}