.footer{
    color: $big-stone;
    background-color: $white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5rem;

    &__list{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
        list-style: none;
        justify-items: center;
        align-content: center;
    }

    &__item{
        margin: 0 auto;
    }
    &__link{
        display: block;
        text-decoration: none;
        padding: 10px;
        text-align: center;
        color: $big-stone;
        text-transform: uppercase;
        font-size: 1.5rem;
    }
}

.contact{
    display: grid;
    justify-items: center;
    align-content: center;
}

