.header {
    color: $light-white;
    position: relative;
    height: 95vh;
    background-image: url("../assets/img/nat-n6 1.jpg");
    background-size: cover;
    background-position: bottom;
    text-transform: uppercase;

    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);


    &__logo {
        position: absolute;
        top: 40px;
        left: 40px;
        height: 100px;
    }

    &__title {

        backface-visibility: hidden;
        font-size: 3.75rem;
        letter-spacing: 2rem;
        font-weight: 700;
        animation: moveInLeft 1s ease-out;


    }

    &__description {
        backface-visibility: hidden;
        font-size: 1.25rem;
        letter-spacing: 0.6rem;
        font-weight: 400;
        animation: moveInRight 1s ease-out;
        color: $light-blue;
    }

    &__text-box {

        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__button {
       border:none;
        background: $white;
        color: $tomato;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 21.5rem;
        height: 4.6rem;
        font-weight: 700;
        text-transform: uppercase;
        border-radius: 50px;
        letter-spacing: 2px;
        padding: .0rem 1rem;
        margin-top: 5rem;
        border-bottom: 3px solid $tomato;
        cursor: pointer;
        transition: all 0.3s ease 0s
    }

    &__button-link {
        display: inline-block;

    }

    &__button:hover {
        color: $tomato;
        letter-spacing: 1px;
        transition: all 0.3s ease 0s;

    }

}

.button__description {
    color: $dark-blue;
    padding-left: 5px;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    50% {
        transform: translateX(10px);

    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }


}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    50% {
        transform: translateX(-10px);

    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }


}