@import "modules/mixins.scss";

.navigation {

    &__checkbox {
        display: none;
    }

    &__button {
        background-color: $light-white;
        height: 7rem;
        width: 7rem;
        position: fixed;
        top: 6rem;
        right: 6rem;
        border-radius: 50%;
        z-index: 2000;
        box-shadow: 0 1rem 3rem rgba($big-stone, .1);
        text-align: center;
        cursor: pointer;

        @include respond (phone) {

            height: 4rem;
            width: 4rem;
            position: fixed;
            top: 3rem;
            right: 3rem;

        }


    }

    &__background {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient($blue, $blue);
        z-index: 1000;

        transition: transform 0.6s cubic-bezier(0.47, 0, 0.745, 0.715);



        @include respond (phone) {

            height: 3rem;
            width: 3rem;
            position: fixed;
            top: 3.5rem;
            right: 3.5rem;

        }


    }

    &__nav {
        height: 100vh;
        
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1500;

        opacity: 0;
        width: 0;
        transition: transform 0.6s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    }

    &__list {
       
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
        padding: 0; 


    }

    &__item {
        margin: 1rem;
        
    }

    &__link {
        display:block;
        margin: 2rem auto;
        font-size: 2rem;
        font-weight: 400;
        color: $light-white;
        text-decoration: none;
        text-transform: uppercase;
        transition: 1s all;
        width: 100%;

        &:hover {
            border-bottom: 1px solid $green;
        }
    }

    &__checkbox:checked~&__background {
        transform: scale(80);
    }

    &__checkbox:checked~&__nav {
        opacity: 1;
        width: 100%;
    }


    &__icon {
        margin-top: 3.5rem;

        position: relative;

        @include respond (phone) {

            margin-top: 1.9rem;
        }

        &,
        &::before,
        &::after {
            width: 3rem;
            height: 2px;
            background-color: $big-stone;
            display: inline-block;

            @include respond (phone) {
                height: 1.5px;
                width: 2rem;
            }

        }


        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }

        &::before {
            top: -0.8rem;

            @include respond (phone) {
                top: -0.5rem;
            }


        }

        &::after {
            top: 0.8rem;

            @include respond (phone) {
                top: 0.5rem;
            }


        }

    }

    &__button:hover &__icon::before {
        top: -1rem;

        @include respond (phone) {
            top: -0.5rem;
        }
    }

    &__button:hover &__icon::after {
        top: 1rem;

        @include respond (phone) {
            top: 0.5rem;
        }

    }

    &__checkbox:checked+&__button &__icon {
        background-color: transparent;
    }

    &__checkbox:checked+&__button &__icon::before {
        top: 0;
        transform: rotate(45deg);
    }

    &__checkbox:checked+&__button &__icon::after {
        top: 0;
        transform: rotate(-45deg);
    }




}