.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($black, .8);
    z-index: 9999;

    opacity: 0;
    visibility: hidden;
    transition: all .3s;


    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        // height: 30rem;
        @include center;
        width: 75%;
        background-color: $light-white;
        box-shadow: 0 2rem 4rem rgba($big-stone, .2);
        border-radius: 3px;
        padding: 2rem;
        margin: 0 auto;
        opacity: 0;
        transform: translate(-50%, -50%) scale(0);
        transition: all .4s .1s;

        @include respond (phone) {
            flex-direction: column;

        }

    }

    &__header{
        text-align: center;
        font-size: 2rem;
        margin: 2rem auto;
        padding-bottom: 3rem;
    }

    &__heading{
        margin: 1rem 0;
    }


    &__left {

        // width: 33.3333%;
        flex-grow: 1;
        margin-right: 2rem;


    }

    &__right {
        // width: 66.6667%;
        flex-grow: 2;

    }

    &__img {
        display: block;
        width: 20rem;
        height: 15rem;
        box-shadow: 0 1rem 2rem rgba($big-stone, .1);

        &:not(:last-child){
            margin-bottom: 1rem;
        }


        
       

        @include respond (phone) {
            display: none;

        }

    }

    &__text {
        
        column-count: 2;
        column-gap: 3rem;
        column-rule: 1px solid #e9e9e9;
        hyphens: auto;
        color: rgba($big-stone, .9);

        @include respond (phone) {
            column-rule:none;
            column-count: 1;
            text-align: center;

        }


    }

    &__button {
        text-transform: uppercase;
        text-decoration: none;
        padding: 0.7rem 2rem;
        border-radius: 5rem;
        font-size: 1.2rem;
        background-color: $green;
        color: $light-white;
        display: inline-block;
        transition: all 0.3s;
        margin-top: 2rem;
    }

    &__button:hover {
        letter-spacing: 1px;

    }


    &:target {
        opacity: 1;
        visibility: visible;
    }

    &:target &__content {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    &__close {

        &:link,
        &:visited {
            color: $big-stone;
            position: absolute;
            top: 0;
            right: 3.5rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            transition: all .2s;
            
        }

        &:hover {
            color: $green;
        }
    }

}