// Colors
$dark: #2C4251;
$white: #FEFDFD;
$tomato:rgb(177, 47, 47);
$big-stone:#171F3F;
$light-gray:#F5F7FA;
$light-white:#FFFFFF;
$black:#404040;
$light-dark:#3F5360;
$blue:#2B5083;
$light-blue:#A2B9DA;
$dark-blue:#0B0555;
$green:#2f9482;











// center text 

.center-text {
    margin-top: 1rem; 
    text-align: center;
}


