// Colors
$dark: #2C4251;
$white: #FEFDFD;
$tomato:rgb(177, 47, 47);
$big-stone:#171F3F;
$light-gray:#F5F7FA;
$light-red:#D98181;
$light-white:#FFFFFF;
$black:#404040;
$light-dark:#3F5360;










// center text 

.center-text {
    margin-top: 1rem; 
    text-align: center;
}