// Colors
$dark: #2C4251;
$white: #FEFDFD;
$tomato:#D16666;
$big-stone:#171F3F;
$light-gray:#F5F7FA;
$light-red:#D98181;
$light-white:#FFFFFF;
$black:#404040;
$light-dark:#3F5360;



//Grid

$grid-width:1140px;
$gutter-vertical:15rem;
$gutter-horizontal:6rem;






// mixinScss

@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }

}

// center text 

.center-text {
    text-align: center;
}